{% extends 'base.html.twig' %}
{% block body %} 
    {% include('./partials/header.html.twig') %}
    <div class="jumbotron" id="showJumbo">
        <div class="container">       
            <div class="row">
                <div class="col-md-6">
                    <img class="img-show"style="height: 300px; width: 85%; display: block;" src="/images/{{ moto.coverImg }}" alt="Card image">
                </div>
                <div class="col-md-6">
                    <h1 class="h2">{{ moto.model }} &reg;</h1>
                    <span class="card-subtitle text-white py-1">A PARTIR DE</span>
                    <span class="card-subtitle price-show">&nbsp; {{ moto.price }} &euro; <sup>TTC</sup>/jour </span>
                    <p class="mt-3">{{ moto.description | nl2br }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">  
        
        <div class="row">
            <div class="col-md-6">
            <h2 class="h4">Les caractéristiques de {{ moto.model }} &reg;</h2>
                <ul>
                    <li class="desc">Catégorie    : {{ moto.category.name | capitalize }}</li>
                    <li class="desc">Moteur    : {{ moto.moteur }} &reg;</li>
                    <li class="desc">Réservoir : {{ moto.tank}} L</li>
                    <li class="desc">Hauteur de selle: {{ moto.saddleheight }} mm</li>
                    <li class="desc">Poids : {{ moto.weight }} Kg</li>
                    <li class="desc">Sacoches: {% if moto.saddlebags %}Oui 
                                {% else %} Non
                                {% endif %} 
                    </li>
                    <li class="desc">Passager: {% if moto.passenger %}Oui 
                                {% else %} Non
                                {% endif %} 
                    </li>
                </ul>
                <button type="button" class="btn btn-primary my-2 my-sm-0" data-toggle="modal" data-target="#contactModal"><i class="fa fa-envelope"></i> Nous contacter</button>
            {% for message in app.flashes("success") %}
                <span class="alert alert-success mb-5 mt-5">{{ message }}</span>
            {% endfor %}
            </div> 
           
            <div class="col-md-6">
                <h3 class="h5">NOS TARIFS COMPRENNENT : </h3>
                    <p>Assurance, Alarme, kilométrage illimité, casques, antivols, combinaisons de pluie, Gardiennage de vos bagages, parking voiture.
                       Essence : Non comprise.</p>
                <h3 class="h5">CONDITIONS GÉNÉRALES</h3>
                    <p>Les locations démarrent à partir du mois d’Avril jusqu’au mois d’Octobre – 50% d’acompte à la commande – Caution de 2000 € (réservation en CB) – Permis moto valide de + de 2 ans – Permis international si non résident français – Age minimum requis 25 Ans révolus – Expérience dans la conduite de motos lourdes –</p>
                <h3 class="h5">PIÈCES À FOURNIR :</h3>
                    <p>– Justificatif d’adresse et/ou de résidence temporaire – Carte nationale d’identité ou passeport – Permis de conduire – Permis de conduire europeen et international en cours de validité</p>
                <h3 class="h5">PAIEMENT : AU DÉPART DE LA LOCATION</h3> 
                    <p>– Chèque Euros France – Espèces – C.B (Visa / Mastercard / Eurocard) – AMEX</p>
            </div>             
        </div>                                             
    </div>    
    <!-- Modal -->
    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactLabel">Nous contacter</h5>
            
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col">{{ form_row(form.firstname) }}</div>
                    <div class="col">{{ form_row(form.lastname) }}</div>
                </div>
                <div class="row">
                    <div class="col">{{ form_row(form.phoneNumber) }}</div>
                    <div class="col">{{ form_row(form.email) }}</div>
                </div>
                {{ form_rest(form) }}
                <div class="form-group">
                    <button class="btn btn-primary">Envoyer</button>
                </div>
                {{ form_end(form) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
 
{% endblock %}














